html, body{
    font-family: Georgia;
    font-size: 14px;
    background-color: orange;
}
article{
    float: left;
    margin: 20px;
    width: 350px;
    border: solid 2px black;
    background-color: gold;
    border-radius: 10px;
    padding: 10px;
}
article a{
    color: red;
    text-decoration: none;
}
article a:hover{
    color: black;
    text-decoration: underline;
}